<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Album</h2>
  <% console.log( data ) %>
  <table>
      <tr><td><%= data[0].id %></td>
        <td><%= data[0].album_name %></td>
      <td><a href="/fr">戻る</a></td>
      </table>
</body>
</html>
