<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>static page</title>
  <script>
  </script>
</head>
<body>
  <h1>運勢チェック</h1>
  <p>あなたの運気は</p>

  <p><%= omikuji %></p>
  <p><%= mikuji %></p>
  <p><%= kuji %></p>

  <p>です。</p>

</body>
</html>
